* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

  display: grid;
  height: 100vh;
  place-items: center;
}

.container {
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  background-color: #fff;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

form {
  padding: 40px 20px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  opacity: 0.85;
}

label {
  font-size: 12.5px;
  color: #000;
  opacity: 0.8;
  font-weight: 400;
}

h4 {
  margin-bottom: 20px;
  color: rgba(#000, 0.5);
}

h4 > span {
  span {
    color: rgba(#000, 1);
    font-weight: 700;
  }
}

form > p {
  line-height: 155%;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
  opacity: 0.65;
  font-weight: 400;
  max-width: 200px;
  margin-bottom: 40px;
}

label {
  display: block;
  font-weight: bold;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #181717;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.icon > svg {
  height: 30px;
  width: 30px;
}

input {
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  color: #000;
  font-weight: 400;
  -webkit-appearance: none;
}

input:focus {
  border-bottom: solid 1px #181717;
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(#181717, 0.45);
}

.floating-label {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.floating-label > label {
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding-left: 44px;
}

.floating-label > input {
  width: calc(100% - 44px);
  margin-left: auto;
  display: flex;
}

.floating-label > .icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 44px;
  display: flex;
}

.floating-label > .icon svg {
  height: 30px;
  width: 30px;
  margin: auto;
  opacity: 0.15;
  transition: all 0.3s ease;
}

.floating-label > .icon svg path {
  transition: all 0.3s ease;
}

.floating-label > input:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}

.floating-label > input:not(:placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}

.floating-label > input:valid:not(:placeholder-shown) + label + .icon > svg {
  opacity: 1;
}

.floating-label
  > input:valid:not(:placeholder-shown)
  + label
  + .icon
  > svg
  path {
  fill: #181717;
}

.submit_btn {
  font-size: 16px;
  margin-top: 20px;
}

.form_footer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.signup_link > p {
  margin-bottom: 0 !important;
}
